<h3 class="text-center">Flavours</h3>
<div class="container">
  <div class="row mx-0">
    <div class="col-3 mb-3" *ngFor="let item of flavoursArray">
      <div class="card text-center" data-bs-toggle="modal" data-bs-target="#icecreamDetailModal">
        <img class="p-2" style="background-color: cornflowerblue;" src="assets/images/{{item.displayPic}}" alt="iceCream image" height="250px" width="299px">
        <span class="iceName p-3">{{item.fName}}</span>
      </div>
    </div>
  </div>

</div>

<section class="modalSection">
  <div class="modal fade" id="icecreamDetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="icecreamDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="icecreamDetailModalLabel">Ordering</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- <div class="modal-body p-4 pt-0">
            <div class="d-grid mb-3">
              <span class="fWeightBold my-3">Type</span>
              <div class="d-flex align-items-center">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Cup</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Cone</label>
                </div>
              </div>
            </div>
            <div class="d-grid mb-3">
              <span class="fWeightBold my-3">Size</span>
              <div class="d-flex align-items-center">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Small</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Medium</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Large</label>
                </div>
              </div>
            </div>
            <div class="d-grid mb-3">
              <span class="fWeightBold my-3">Toppings</span>
              <div class="d-flex">
                <div class="w-50">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Oreo Crumbs
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Chocolate Crunch
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Rainbow Sprinkles
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Chocolate Sprinkles
                  </label>
                </div>
              </div>
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Fudge
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Dry Nuts
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Fruits
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    M & M
                  </label>
                </div>
              </div>
              </div>
            </div>
            <div>
              <span class="fWeightBold my-3">Additional Request</span>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
              </div>
            </div>
          </div> -->
          <div class="modal-body p-4 pt-0">
            <!-- Type -->
            <div class="d-grid mb-3">
              <span class="fWeightBold my-3">Type</span>
              <div class="d-flex align-items-center">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="typeRadio" id="cupRadio" [(ngModel)]="selectedType" value="Cup">
                  <label class="form-check-label" for="cupRadio">Cup</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="typeRadio" id="coneRadio" [(ngModel)]="selectedType" value="Cone">
                  <label class="form-check-label" for="coneRadio">Cone</label>
                </div>
              </div>
            </div>
          
            <!-- Size -->
            <div class="d-grid mb-3">
              <span class="fWeightBold my-3">Size</span>
              <div class="d-flex align-items-center">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sizeRadio" id="smallRadio" [(ngModel)]="selectedSize" value="Small">
                  <label class="form-check-label" for="smallRadio">Small</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sizeRadio" id="mediumRadio" [(ngModel)]="selectedSize" value="Medium">
                  <label class="form-check-label" for="mediumRadio">Medium</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sizeRadio" id="largeRadio" [(ngModel)]="selectedSize" value="Large">
                  <label class="form-check-label" for="largeRadio">Large</label>
                </div>
              </div>
            </div>
          
            <!-- Toppings -->
            <div class="d-grid mb-3">
              <span class="fWeightBold my-3">Toppings</span>
              <div class="d-flex">
                <!-- Replace these checkboxes with your actual toppings -->
                <div class="w-50">
                  <div class="form-check" *ngFor="let topping of toppings">
                    <input class="form-check-input" type="checkbox" [id]="topping.id" value="topping.name" [(ngModel)]="topping.isSelected" name="topping.name" (change)="updateSelectedToppings(topping.id , topping.name)">
                    <label class="form-check-label" for="topping.name">{{ topping.name }}</label>
                  </div>
                </div>
              </div>
            </div>
           
            <!-- Additional Request -->
            <div>
              <span class="fWeightBold my-3">Additional Request</span>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="additionalRequest" [(ngModel)]="additionalRequest"></textarea>
                <label for="additionalRequest">Comments</label>
              </div>
            </div>
          </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <div class="counter-container">
            <button class="counter-button" (click)="decrement()">-</button>
            <input class="counter-input" type="text" [(ngModel)]="counterValue" readonly>
            <button class="counter-button" (click)="increment()">+</button>
          </div>                 
          <button type="button" class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>