.card{
    width: 30rem;
    height: 15rem;
    background-color: black;
    opacity: 1;
    color: white;
    cursor: pointer;
}
/* .card:hover{
    opacity: 1;
    cursor: pointer;
} */
.body{
    top: 140px;
    position: relative;
}